html {
    scroll-behavior: smooth;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-right: 10%;
    justify-content: center;
    min-height: 60vh;
    position: relative;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    min-height: 60vh;
    max-width: 850px;
}

.section-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-content p {
    margin-bottom: 16px;
    font-size: 18px;
    color: rgb(236, 226, 255);

}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-image {
    padding-left: 40px;
}

.about-image img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.highlighted-text {
    color: #ff51ae;
  }  

/* Medium devices */
@media only screen and (max-width: 1188px) {
    .about-image img {
        max-width: 200px;
    }

    .about-content {
        min-width: 300px;
        /* Adjust based on your design preference */
    }
    
}

/* Small devices */
@media only screen and (max-width: 600px) {
    #about {
        padding-left: unset;
        padding-right: unset;
        padding-top: unset;
        height: unset;
    }

    .about-image {
        margin-top: 30px;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }

    .about-image img {
        margin-left: 0px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .react-reveal {
        margin: 0px;
    }

    .university-name {
        color: #EE4266;
        font-weight: bold;
        font-size: 24px;
    }

    .section-header {
        font-size: 30px;
    }

    .section-right{
        font-size: 0px;
    }

}
