html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'ElegantTypewriterBold';
    src: url('../assets/fonts/ELEGANT-TYPEWRITER-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-right: 10%;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'ElegantTypewriterBold', sans-serif;
    font-size: 75px;
    text-align: left;
    font-weight: bold;
    min-height: 100vh;  /* Occupy full vertical space */
}

.lottie-container {
    width: 100%;
    max-width: 300px;
}

.dialogue {
    font-family: 'ElegantTypewriterBold', sans-serif;
    min-width: 300px;
    justify-content: center;  /* Align the children to the center vertically */
}

.intro-name {
    font-family: 'ElegantTypewriterBold', sans-serif;
    color: #ff51ae;
}

.intro-greeting {
    font-family: 'ElegantTypewriterBold', sans-serif;
    color: rgb(230, 217, 255);
}

/* Small devices */
@media only screen and (max-width: 600px) {
  
    .intro-container {
        font-size: 40px;
    }

    .lottie-container {
        width: 100%;
        max-width: 250px;
    }
    
    .dialogue {
        min-width: 100%;
    }
}
