html {
    scroll-behavior: smooth;
  }

#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 65px;
    text-align: left;
    font-weight: bold;
    min-height: 100vh;  /* Occupy full vertical space */
}

.lottie-container {
    width: 100%;
    max-width: 300px;
}

.dialogue {
    min-width: 300px;
    justify-content: center;  /* Align the children to the center vertically */
}

.intro-name {
    color: #ff51ae;
}

.intro-greeting{
    color: rgb(230, 217, 255);
}
