html {
    scroll-behavior: smooth;
}

#project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-right: 10%;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    min-height: 100vh;
    max-width: 850px;
}

.section-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-content p {
    margin-bottom: 16px;
    font-size: 18px;
    color: rgb(236, 226, 255);
}

/* Medium devices */
@media only screen and (max-width: 1188px) {

    .about-content {
        min-width: 300px;
        /* Adjust based on your design preference */
    }

}

/* Small devices */
@media only screen and (max-width: 600px) {
    #project {
        padding-left: unset;
        padding-right: unset;
        padding-top: unset;
        height: unset;
    }

    .project-content {
        flex-direction: column;
        align-items: center;
    }

    .react-reveal {
        margin: 0px;
    }

    .section-header {
        font-size: 30px;
    }

    .section-right{
        font-size: 0px;
    }

}
