html {
    scroll-behavior: smooth;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-right: 10%;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    min-height: 100vh;
    max-width: 850px;
}

.section-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project-content p {
    margin-bottom: 16px;
    font-size: 18px;
    color: rgb(236, 226, 255);
}

.cards {
    max-width: 360px;
    /* Setting a max width to the default style ensures it never exceeds this width on larger screens */
    width: 100%;
    margin: 10px;
    
}

@media only screen and (max-width: 600px) {
    #projects {
        padding-left: unset;
        padding-right: unset;
        height: unset;
    }

    .cards {
        max-width: 90%;
    }

}

@media only screen and (max-width: 400px) {
    .cards {
        width: 100%;
    }

    .section-header {
        font-size: 30px;
    }

    .section-right{
        font-size: 0px;
    }

}














