@import "rsuite/dist/rsuite.css";

@font-face {
    font-family: 'ElegantTypewriterBold';
    src: url('../assets/fonts/ELEGANT-TYPEWRITER-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 10%;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4m;
}

.rs-sidenav-subtle {
    background-color: transparent !important;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'ElegantTypewriterBold', sans-serif;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 19px;
    padding: 0.2em;
    font-weight: bold;
}

.sidebar-logos a {
    /* adjusting gaps between logos */
    margin-left: 2px;
    margin-right: 2px;
}

/* Mobile view adjustments */
@media only screen and (max-width: 1000px) {
    .sidebar-nav {
        display: none;
        /* Hide the entire sidebar navigation on mobile */
    }
}
